// palette
$blueAction: #09bcef;
$blueHover: #089abc;
$blueDark: #004974;
$grayMedium: #959699;
$grayLight: #f7f7f7;
$gold: #fcb600;

// theme
$primary: $blueAction;
$secondary: $gold;

// fonts

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: $grayLight;
}

header {
  background: $blueDark;
  color: white;
  text-align: center;
  height: 50px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  color: $secondary;
  text-align: center;

  font-weight: 500;
}

p {
  color: $grayMedium;
}

p.yellow {
  color: $secondary;
  margin-bottom: 3rem;
}

a {
  background: $blueAction;
  text-decoration: none;
  width: 100px;
  padding: .5rem 2rem;
  border-radius: 50px;
  max-width: 100%;
  color: white;
  font-size: 1.3rem;
  &:hover, &:focus {
    background: $blueHover;
  }
}

.svgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  svg {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }
}

main {
  text-align: center;
  padding: 1rem;
  @media screen and (min-width: 600px) {
    max-width: 600px;
  }
  margin: 0 auto;
  h2 {
    color: $primary;
    text-align: center;
  }
}

hr {
  margin-top: -26px;
  border: $grayMedium 1px solid;
}
